.users {
  background-color: #f9f9f3;
  margin-bottom: 78px;

  .users__content {
    text-align: center;

    .users__content-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .user__card {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30%;
      margin: 60px 0;

      .user__card-item {
        width: 200px;
        display: flex;
        flex-direction: column;

        .user-card__name {
          font-size: 24px;
          color: #212529;
          font-weight: 400;
          margin: 10px 0;
        }

        span {
          font-size: 16px;
          line-height: 24px;
          color: #4c4b4b;
          font-weight: 400;
        }
      }

      .user-card__avatar {
        img {
          border-radius: 50%;
        }
      }
    }
  }
}

li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.show__more {
  display: flex;
  justify-content: center;
}

.show__more-btn {
  background-color: #d24335;
  border: none;
  display: flex;
  align-items: center;
  margin-left: 40px;
  padding: 10px;
  font-size: 16px;
  color: #fefefe;
  font-weight: 600;
  font-family: 'Open Sans';
  border-radius: 5px;
  padding: 10px 58px;
  cursor: pointer;
}

.loader {
  font-size: 2px;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: #d24335;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
