.about {
  .about__content {
    display: flex;
    margin-top: 60px;
    justify-content: space-around;

    .about__content-img {
      img {
        height: 80%;
      }
    }

    .about__content-text {
      font-family: 'Open Sans', sans-serif;
      max-width: 53.3%;
      h5 {
        font-size: 24px;
        line-height: 30px;
        color: #212529;
        font-weight: 400;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        color: #4c4b4b;
        font-weight: 400;
        margin-bottom: 22px;
        letter-spacing: -0.1px;
      }

      span {
        color: #ef5b4c;
        cursor: pointer;
      }
    }
  }
}
