@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1024px;
  margin: auto;
}

.section {
  padding: 145px 0 80px;
}

.section__header {
  .section__header-title {
    h2 {
      font-size: 50px;
      color: #212529;
      font-weight: 400;
      font-family: 'Open Sans';
      text-align: center;
      letter-spacing: -1px;
    }
  }

  .section__header-subtitle {
    h5 {
      font-size: 16px;
      line-height: 24px;
      color: #4c4b4b;
      font-weight: 400;
      font-family: 'Open Sans';
      text-align: center;
      padding: 13px 28%;
    }
  }
}

.submit__button {
  button {
    font-size: 16px;
    color: #fefefe;
    background-color: #ef5b4c;
    font-weight: 600;
    padding: 10px 58px;
    cursor: pointer;
    border: none;
    transition: 0.5s;
    border-radius: 5px;
  }

  button:hover {
    background-color: #d24335;
  }
}

.button-center {
  text-align: center;
}

/* Navigation */

.navigation {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  .navigation__content {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
      cursor: pointer;
    }

    &-items {
      display: flex;

      li {
        font-size: 14px;
        line-height: 60px;
        color: #212529;
        font-weight: 400;
        font-family: 'Open Sans';
        margin-left: 29px;
        cursor: pointer;
        transition: 0.3s;
      }

      li:hover {
        color: #ef5b4c;
      }
    }
  }
}

/* End Navigation block */

/* Footer */

footer {
  width: 100%;
  text-align: center;
  border-top: 1px solid #ececec;
  padding: 20px 0;
  font-size: 16px;
  line-height: 24px;
  color: #4c4b4b;
  font-weight: 400;
  font-family: 'Open Sans';
}

/* End Footer block */
