@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1024px;
  margin: auto;
}

.section {
  margin: 150px 0;
}

.section__header {
  .section__header-title {
    h2 {
      font-size: 50px;
      color: #212529;
      font-weight: 400;
      font-family: 'Open Sans';
      text-align: center;
    }
  }

  .section__header-subtitle {
    h5 {
      font-size: 16px;
      line-height: 24px;
      color: #4c4b4b;
      font-weight: 400;
      font-family: 'Open Sans';
      text-align: center;
      padding: 13px 28%;
    }
  }
}

.submit-button {
  text-align: center;

  button {
    font-size: 16px;
    color: #fefefe;
    background-color: #ef5b4c;
    font-weight: 600;
    padding: 10px 58px;
    cursor: pointer;
    border: none;
    transition: 0.5s;
    border-radius: 5px;
    margin-top: 40px;
  }

  button:hover {
    background-color: #d24335;
  }
}
