.banner {
  margin-top: 60px;
  background-image: url('../../assets/img/banner-photo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-family: 'Open Sans';

  .banner__content {
    padding: 105px 30px;
    width: 52%;

    .banner__content-title {
      font-size: 50px;
      line-height: 54px;
      font-weight: 400;
      text-transform: uppercase;
    }

    .banner__content-subtitle {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      margin: 25px 0;
    }

    .submit__button-banner {
      margin: 34px 0 7px;
    }
  }
}
