.banner {
  background-image: url(../../assets/img/banner-photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #162141;
  color: #fff;

  .banner__content {
    width: 52%;
    padding: 115px 0;

    h2 {
      font-size: 50px;
      line-height: 54px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 40px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
    }

  }
}
